.edu .ed-program-card>div>img{aspect-ratio:1672/941;height:auto;object-fit:contain}
.edu .ed-program-image>img{height:auto;aspect-ratio:1672/941;object-fit:contain}
.ed-program-image-note{font-size:11px!important;padding:12px 0;color:#647b91}
